.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.register-form-container {

}
